fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-google-genai
langchain-mongodb
langchain-postgres
chromadb
pymongo
sqlalchemy
python-dotenv
boto3
starlette
pyjwt
aiofiles
python-multipart
pypdf
unstructured
markdown
pdfminer.six
chardet
google-generativeai
asyncpg
psycopg[binary]
psycopg2-binary
